In [1]:
import pandas as pd
import numpy as np

In [4]:
fn = 'datasets/diamonds.csv'
df = pd.read_csv(fn)
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [5]:
x=6
y=7.23
z='Hello world'

In [6]:
print(x)
print(y)
print(z)

6
7.23
Hello world

In [7]:
y

7.23

In [8]:
float(x)

6.0

In [9]:
print(x)

6

In [11]:
b=x+y

In [13]:
print(b)

13.23

In [20]:
if x==7:
    print("no it is not")
else:
    print("ok")

ok

In [22]:
Names=['Elias','Tesfahunegn','Haile']

In [25]:
print(Names)

['Elias', 'Tesfahunegn', 'Haile']

In [45]:
for i in Names:
    print()

In [39]:
name = ['Elias','Tesfahunegn','Haile']

In [40]:
for i in Names:
    print(i)

Elias
Tesfahunegn
Haile

In [46]:
Names=['Elias','Tesfahunegn','Haile']

In [49]:
for name in Names:
    print(name)

Elias
Tesfahunegn
Haile

In [54]:
print(len(Names))

3

In [55]:
len?

In [60]:
print (Names)

['Elias', 'Tesfahunegn', 'Haile']

In [64]:
for i in Names:
 print(i)

Elias
Tesfahunegn
Haile

In [66]:
def addnum (a,b,c):
    return a*b*c
print(addnum (1,2,3))

6

In [68]:
def addnum(1,2):
    return 1*2

SyntaxError: invalid syntax (<ipython-input-68-9b99ac706872>, line 1)

In [69]:
import pandas as EliasFile

In [ ]:
location=